app-my-chips {
  --chip-container-background-color: #2f4858;
  --chip-background-color: #86bbd8;
  --chip-border-color: transparent;
  --chip-color: #ffffff;
  --chip-active-background-color: #33658a;
  --chip-active-color: #f6ae2d;
}
